<nav class="navbar navbar-expand navbar-light bg-light mb-3">
  <a class="navbar-brand" href="#">
    <img src="/images/logo.png" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-white" routerLink="list-trips">
        Trips
      </a>
    </div>
  </div>
  <div class="navbar-end me-5">
    <a class="navbar-item" routerLink="login" *ngIf="!isLoggedIn()">
      <span class="has-icon-left text-white">Log In</span>
    </a>
    <a class="navbar-item" (click)="onLogout()" *ngIf="isLoggedIn()">
      <span class="has-icon-left text-white">Log Out</span>
    </a>
  </div>
</nav>
